<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!-- Content Security Policy -->
        <add name="Content-Security-Policy" 
             value="default-src 'self'; 
                    script-src 'self' https://drive.google.com;
                    connect-src 'self' https://drive.google.com;
                    img-src 'self' data: https://drive.google.com;
                    frame-src https://drive.google.com;
                    style-src 'self' 'unsafe-inline';
                    object-src 'none';" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>